doctype html
html(lang='ja')
  head
    title Jade
    link(rel="stylesheet", href="" inline)
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | strong focus on performance
    script(type='text/javascript', src="" inline)
